/* screen - u1079u1072u1087u1091u1089u1082 */

.u1079u1072u1087u1091u1089u1082 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  width: 393px;
}

.u1079u1072u1087u1091u1089u1082 .k {
  height: 667px;
  position: relative;
  width: 393px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group {
  height: 666px;
  left: 0;
  position: absolute;
  top: 0;
  width: 392px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-1 {
  height: 435px;
  left: 0;
  position: absolute;
  top: 232px;
  width: 392px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-2 {
  height: 407px;
  left: 116px;
  position: absolute;
  top: 0;
  width: 164px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-3 {
  height: 244px;
  left: 28px;
  position: absolute;
  top: 175px;
  width: 337px;
}

.u1079u1072u1087u1091u1089u1082 .group {
  height: 75px;
  left: 58px;
  position: absolute;
  top: 38px;
  width: 41px;
}

.u1079u1072u1087u1091u1089u1082 .group-1 {
  height: 75px;
  left: 104px;
  position: absolute;
  top: 38px;
  width: 30px;
}

.u1079u1072u1087u1091u1089u1082 .group-2 {
  height: 76px;
  left: 138px;
  position: absolute;
  top: 37px;
  width: 27px;
}

.u1079u1072u1087u1091u1089u1082 .group-3 {
  height: 75px;
  left: 172px;
  position: absolute;
  top: 38px;
  width: 31px;
}

.u1079u1072u1087u1091u1089u1082 .group-4 {
  height: 75px;
  left: 209px;
  position: absolute;
  top: 38px;
  width: 27px;
}

.u1079u1072u1087u1091u1089u1082 .group-5 {
  height: 75px;
  left: 242px;
  position: absolute;
  top: 38px;
  width: 31px;
}

.u1079u1072u1087u1091u1089u1082 .group-6 {
  height: 76px;
  left: 279px;
  position: absolute;
  top: 37px;
  width: 27px;
}

.u1079u1072u1087u1091u1089u1082 .group-7 {
  height: 75px;
  left: 315px;
  position: absolute;
  top: 38px;
  width: 21px;
}

.u1079u1072u1087u1091u1089u1082 .vector {
  height: 4px;
  left: 82px;
  position: absolute;
  top: 121px;
  width: 229px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-4 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 223px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-1 {
  height: 4px;
  left: 3px;
  position: absolute;
  top: 228px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-2 {
  height: 4px;
  left: 1px;
  position: absolute;
  top: 234px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-5 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 238px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-6 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 212px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-3 {
  height: 4px;
  left: 2px;
  position: absolute;
  top: 218px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-4 {
  height: 4px;
  left: 7px;
  position: absolute;
  top: 224px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-5 {
  height: 5px;
  left: 11px;
  position: absolute;
  top: 229px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-6 {
  height: 5px;
  left: 8px;
  position: absolute;
  top: 235px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-7 {
  height: 4px;
  left: 3px;
  position: absolute;
  top: 241px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-7 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 245px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-8 {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 195px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-9 {
  height: 1px;
  left: 19px;
  position: absolute;
  top: 199px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-10 {
  height: 2px;
  left: 22px;
  position: absolute;
  top: 204px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-11 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 208px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-12 {
  height: 3px;
  left: 30px;
  position: absolute;
  top: 213px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-13 {
  height: 3px;
  left: 34px;
  position: absolute;
  top: 217px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-14 {
  height: 3px;
  left: 37px;
  position: absolute;
  top: 222px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-15 {
  height: 3px;
  left: 41px;
  position: absolute;
  top: 226px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-16 {
  height: 4px;
  left: 44px;
  position: absolute;
  top: 231px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-17 {
  height: 3px;
  left: 40px;
  position: absolute;
  top: 236px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-18 {
  height: 3px;
  left: 36px;
  position: absolute;
  top: 241px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-19 {
  height: 3px;
  left: 32px;
  position: absolute;
  top: 245px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-20 {
  height: 3px;
  left: 29px;
  position: absolute;
  top: 250px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-21 {
  height: 2px;
  left: 25px;
  position: absolute;
  top: 255px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-22 {
  height: 2px;
  left: 21px;
  position: absolute;
  top: 260px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-23 {
  height: 1px;
  left: 18px;
  position: absolute;
  top: 265px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-24 {
  height: 1px;
  left: 12px;
  position: absolute;
  top: 182px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-25 {
  height: 1px;
  left: 16px;
  position: absolute;
  top: 187px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-26 {
  height: 2px;
  left: 20px;
  position: absolute;
  top: 191px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-27 {
  height: 2px;
  left: 24px;
  position: absolute;
  top: 196px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-28 {
  height: 3px;
  left: 27px;
  position: absolute;
  top: 201px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-29 {
  height: 3px;
  left: 31px;
  position: absolute;
  top: 205px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-30 {
  height: 3px;
  left: 35px;
  position: absolute;
  top: 210px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-31 {
  height: 3px;
  left: 39px;
  position: absolute;
  top: 215px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-32 {
  height: 4px;
  left: 43px;
  position: absolute;
  top: 220px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-33 {
  height: 4px;
  left: 47px;
  position: absolute;
  top: 224px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-34 {
  height: 4px;
  left: 51px;
  position: absolute;
  top: 229px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-35 {
  height: 4px;
  left: 49px;
  position: absolute;
  top: 234px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-36 {
  height: 4px;
  left: 45px;
  position: absolute;
  top: 239px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-37 {
  height: 3px;
  left: 41px;
  position: absolute;
  top: 244px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-38 {
  height: 3px;
  left: 37px;
  position: absolute;
  top: 249px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-39 {
  height: 3px;
  left: 33px;
  position: absolute;
  top: 254px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-40 {
  height: 3px;
  left: 29px;
  position: absolute;
  top: 259px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-41 {
  height: 2px;
  left: 25px;
  position: absolute;
  top: 264px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-42 {
  height: 2px;
  left: 21px;
  position: absolute;
  top: 269px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-43 {
  height: 1px;
  left: 17px;
  position: absolute;
  top: 274px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-44 {
  height: 1px;
  left: 14px;
  position: absolute;
  top: 280px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-45 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 169px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-46 {
  height: 1px;
  left: 13px;
  position: absolute;
  top: 174px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-47 {
  height: 1px;
  left: 17px;
  position: absolute;
  top: 179px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-48 {
  height: 2px;
  left: 21px;
  position: absolute;
  top: 184px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-49 {
  height: 2px;
  left: 25px;
  position: absolute;
  top: 189px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-50 {
  height: 3px;
  left: 29px;
  position: absolute;
  top: 193px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-51 {
  height: 3px;
  left: 33px;
  position: absolute;
  top: 198px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-52 {
  height: 3px;
  left: 37px;
  position: absolute;
  top: 203px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-53 {
  height: 4px;
  left: 41px;
  position: absolute;
  top: 208px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-54 {
  height: 4px;
  left: 46px;
  position: absolute;
  top: 213px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-55 {
  height: 4px;
  left: 50px;
  position: absolute;
  top: 218px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-56 {
  height: 4px;
  left: 54px;
  position: absolute;
  top: 223px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-57 {
  height: 4px;
  left: 58px;
  position: absolute;
  top: 228px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-58 {
  height: 4px;
  left: 57px;
  position: absolute;
  top: 233px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-59 {
  height: 4px;
  left: 53px;
  position: absolute;
  top: 238px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-60 {
  height: 4px;
  left: 49px;
  position: absolute;
  top: 243px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-61 {
  height: 4px;
  left: 45px;
  position: absolute;
  top: 248px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-62 {
  height: 3px;
  left: 41px;
  position: absolute;
  top: 254px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-63 {
  height: 3px;
  left: 36px;
  position: absolute;
  top: 259px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-64 {
  height: 3px;
  left: 32px;
  position: absolute;
  top: 264px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-65 {
  height: 3px;
  left: 28px;
  position: absolute;
  top: 269px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-66 {
  height: 2px;
  left: 24px;
  position: absolute;
  top: 275px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-67 {
  height: 2px;
  left: 20px;
  position: absolute;
  top: 280px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-68 {
  height: 1px;
  left: 16px;
  position: absolute;
  top: 285px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-69 {
  height: 1px;
  left: 12px;
  position: absolute;
  top: 290px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-70 {
  height: 1px;
  left: 6px;
  position: absolute;
  top: 156px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-71 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 161px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-72 {
  height: 1px;
  left: 14px;
  position: absolute;
  top: 166px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-73 {
  height: 2px;
  left: 18px;
  position: absolute;
  top: 171px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-74 {
  height: 2px;
  left: 23px;
  position: absolute;
  top: 176px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-75 {
  height: 3px;
  left: 27px;
  position: absolute;
  top: 181px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-76 {
  height: 3px;
  left: 31px;
  position: absolute;
  top: 186px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-77 {
  height: 3px;
  left: 35px;
  position: absolute;
  top: 192px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-78 {
  height: 3px;
  left: 40px;
  position: absolute;
  top: 197px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-79 {
  height: 4px;
  left: 44px;
  position: absolute;
  top: 202px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-80 {
  height: 4px;
  left: 48px;
  position: absolute;
  top: 207px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-81 {
  height: 4px;
  left: 53px;
  position: absolute;
  top: 212px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-82 {
  height: 4px;
  left: 57px;
  position: absolute;
  top: 217px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-83 {
  height: 4px;
  left: 61px;
  position: absolute;
  top: 223px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-84 {
  height: 4px;
  left: 66px;
  position: absolute;
  top: 228px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-85 {
  height: 4px;
  left: 65px;
  position: absolute;
  top: 233px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-86 {
  height: 4px;
  left: 61px;
  position: absolute;
  top: 238px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-87 {
  height: 4px;
  left: 56px;
  position: absolute;
  top: 244px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-88 {
  height: 4px;
  left: 52px;
  position: absolute;
  top: 249px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-89 {
  height: 4px;
  left: 48px;
  position: absolute;
  top: 254px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-90 {
  height: 4px;
  left: 43px;
  position: absolute;
  top: 260px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-91 {
  height: 3px;
  left: 39px;
  position: absolute;
  top: 265px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-92 {
  height: 3px;
  left: 35px;
  position: absolute;
  top: 270px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-93 {
  height: 3px;
  left: 30px;
  position: absolute;
  top: 276px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-94 {
  height: 3px;
  left: 26px;
  position: absolute;
  top: 281px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-95 {
  height: 2px;
  left: 22px;
  position: absolute;
  top: 286px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-96 {
  height: 2px;
  left: 18px;
  position: absolute;
  top: 292px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-97 {
  height: 1px;
  left: 14px;
  position: absolute;
  top: 297px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-98 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 303px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-99 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 143px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-100 {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 149px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-101 {
  height: 1px;
  left: 12px;
  position: absolute;
  top: 154px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-102 {
  height: 2px;
  left: 16px;
  position: absolute;
  top: 159px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-103 {
  height: 2px;
  left: 20px;
  position: absolute;
  top: 164px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-104 {
  height: 3px;
  left: 25px;
  position: absolute;
  top: 169px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-105 {
  height: 3px;
  left: 29px;
  position: absolute;
  top: 175px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-106 {
  height: 3px;
  left: 33px;
  position: absolute;
  top: 180px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-107 {
  height: 3px;
  left: 38px;
  position: absolute;
  top: 185px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-108 {
  height: 4px;
  left: 42px;
  position: absolute;
  top: 191px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-109 {
  height: 4px;
  left: 47px;
  position: absolute;
  top: 196px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-110 {
  height: 4px;
  left: 51px;
  position: absolute;
  top: 201px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-111 {
  height: 4px;
  left: 56px;
  position: absolute;
  top: 207px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-112 {
  height: 4px;
  left: 60px;
  position: absolute;
  top: 212px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-113 {
  height: 4px;
  left: 65px;
  position: absolute;
  top: 217px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-114 {
  height: 4px;
  left: 69px;
  position: absolute;
  top: 223px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-115 {
  height: 4px;
  left: 74px;
  position: absolute;
  top: 228px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-116 {
  height: 4px;
  left: 72px;
  position: absolute;
  top: 234px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-117 {
  height: 4px;
  left: 67px;
  position: absolute;
  top: 239px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-118 {
  height: 4px;
  left: 63px;
  position: absolute;
  top: 244px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-119 {
  height: 4px;
  left: 58px;
  position: absolute;
  top: 250px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-120 {
  height: 4px;
  left: 54px;
  position: absolute;
  top: 255px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-121 {
  height: 4px;
  left: 50px;
  position: absolute;
  top: 261px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-122 {
  height: 4px;
  left: 45px;
  position: absolute;
  top: 266px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-123 {
  height: 4px;
  left: 41px;
  position: absolute;
  top: 272px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-124 {
  height: 3px;
  left: 36px;
  position: absolute;
  top: 277px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-125 {
  height: 3px;
  left: 32px;
  position: absolute;
  top: 283px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-126 {
  height: 3px;
  left: 27px;
  position: absolute;
  top: 289px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-127 {
  height: 2px;
  left: 23px;
  position: absolute;
  top: 294px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-128 {
  height: 2px;
  left: 19px;
  position: absolute;
  top: 300px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-129 {
  height: 2px;
  left: 14px;
  position: absolute;
  top: 305px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-130 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 311px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-131 {
  height: 1px;
  left: 6px;
  position: absolute;
  top: 317px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-132 {
  height: 1px;
  left: 4px;
  position: absolute;
  top: 136px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-133 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 141px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-134 {
  height: 2px;
  left: 13px;
  position: absolute;
  top: 147px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-135 {
  height: 2px;
  left: 18px;
  position: absolute;
  top: 152px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-136 {
  height: 2px;
  left: 22px;
  position: absolute;
  top: 157px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-137 {
  height: 3px;
  left: 27px;
  position: absolute;
  top: 163px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-138 {
  height: 3px;
  left: 31px;
  position: absolute;
  top: 168px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-139 {
  height: 3px;
  left: 36px;
  position: absolute;
  top: 174px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-140 {
  height: 4px;
  left: 41px;
  position: absolute;
  top: 179px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-141 {
  height: 4px;
  left: 45px;
  position: absolute;
  top: 185px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-142 {
  height: 4px;
  left: 50px;
  position: absolute;
  top: 190px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-143 {
  height: 4px;
  left: 54px;
  position: absolute;
  top: 196px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-144 {
  height: 4px;
  left: 59px;
  position: absolute;
  top: 201px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-145 {
  height: 4px;
  left: 64px;
  position: absolute;
  top: 207px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-146 {
  height: 4px;
  left: 68px;
  position: absolute;
  top: 213px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-147 {
  height: 4px;
  left: 73px;
  position: absolute;
  top: 218px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-148 {
  height: 5px;
  left: 78px;
  position: absolute;
  top: 224px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-8 {
  height: 6px;
  left: 82px;
  position: absolute;
  top: 229px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-149 {
  height: 5px;
  left: 78px;
  position: absolute;
  top: 235px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-150 {
  height: 4px;
  left: 74px;
  position: absolute;
  top: 241px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-151 {
  height: 4px;
  left: 69px;
  position: absolute;
  top: 246px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-152 {
  height: 4px;
  left: 64px;
  position: absolute;
  top: 252px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-153 {
  height: 4px;
  left: 60px;
  position: absolute;
  top: 258px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-154 {
  height: 4px;
  left: 55px;
  position: absolute;
  top: 263px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-155 {
  height: 4px;
  left: 51px;
  position: absolute;
  top: 269px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-156 {
  height: 4px;
  left: 46px;
  position: absolute;
  top: 274px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-157 {
  height: 4px;
  left: 41px;
  position: absolute;
  top: 280px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-158 {
  height: 3px;
  left: 37px;
  position: absolute;
  top: 286px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-159 {
  height: 3px;
  left: 32px;
  position: absolute;
  top: 292px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-160 {
  height: 3px;
  left: 28px;
  position: absolute;
  top: 297px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-161 {
  height: 3px;
  left: 23px;
  position: absolute;
  top: 303px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-162 {
  height: 2px;
  left: 19px;
  position: absolute;
  top: 309px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-163 {
  height: 2px;
  left: 14px;
  position: absolute;
  top: 315px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-164 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 321px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-165 {
  height: 1px;
  left: 5px;
  position: absolute;
  top: 326px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-9 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 332px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .group-8 {
  height: 10px;
  left: 64px;
  position: absolute;
  top: 133px;
  width: 9px;
}

.u1079u1072u1087u1091u1089u1082 .group-9 {
  height: 10px;
  left: 79px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-10 {
  height: 10px;
  left: 91px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-11 {
  height: 10px;
  left: 103px;
  position: absolute;
  top: 133px;
  width: 9px;
}

.u1079u1072u1087u1091u1089u1082 .group-12 {
  height: 10px;
  left: 118px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-13 {
  height: 10px;
  left: 130px;
  position: absolute;
  top: 133px;
  width: 9px;
}

.u1079u1072u1087u1091u1089u1082 .group-14 {
  height: 10px;
  left: 145px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-15 {
  height: 10px;
  left: 158px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-16 {
  height: 10px;
  left: 171px;
  position: absolute;
  top: 133px;
  width: 9px;
}

.u1079u1072u1087u1091u1089u1082 .group-17 {
  height: 10px;
  left: 185px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-18 {
  height: 10px;
  left: 198px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-19 {
  height: 10px;
  left: 211px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-20 {
  height: 10px;
  left: 234px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-21 {
  height: 10px;
  left: 255px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-22 {
  height: 10px;
  left: 269px;
  position: absolute;
  top: 133px;
  width: 6px;
}

.u1079u1072u1087u1091u1089u1082 .group-23 {
  height: 10px;
  left: 282px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-24 {
  height: 10px;
  left: 295px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-25 {
  height: 10px;
  left: 308px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .group-26 {
  height: 10px;
  left: 322px;
  position: absolute;
  top: 133px;
  width: 7px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-10 {
  height: 5px;
  left: 390px;
  position: absolute;
  top: 226px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-11 {
  height: 6px;
  left: 392px;
  position: absolute;
  top: 230px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-12 {
  height: 5px;
  left: 391px;
  position: absolute;
  top: 215px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-166 {
  height: 4px;
  left: 387px;
  position: absolute;
  top: 221px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-167 {
  height: 5px;
  left: 382px;
  position: absolute;
  top: 227px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-168 {
  height: 5px;
  left: 386px;
  position: absolute;
  top: 232px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-13 {
  height: 6px;
  left: 390px;
  position: absolute;
  top: 238px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-169 {
  height: 1px;
  left: 382px;
  position: absolute;
  top: 193px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-170 {
  height: 1px;
  left: 377px;
  position: absolute;
  top: 197px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-171 {
  height: 2px;
  left: 373px;
  position: absolute;
  top: 201px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-172 {
  height: 2px;
  left: 369px;
  position: absolute;
  top: 206px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-173 {
  height: 3px;
  left: 365px;
  position: absolute;
  top: 210px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-174 {
  height: 3px;
  left: 361px;
  position: absolute;
  top: 215px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-175 {
  height: 3px;
  left: 357px;
  position: absolute;
  top: 219px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-176 {
  height: 3px;
  left: 353px;
  position: absolute;
  top: 224px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-177 {
  height: 4px;
  left: 350px;
  position: absolute;
  top: 229px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-178 {
  height: 3px;
  left: 354px;
  position: absolute;
  top: 233px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-179 {
  height: 3px;
  left: 358px;
  position: absolute;
  top: 238px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-180 {
  height: 3px;
  left: 362px;
  position: absolute;
  top: 243px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-181 {
  height: 3px;
  left: 366px;
  position: absolute;
  top: 248px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-182 {
  height: 2px;
  left: 370px;
  position: absolute;
  top: 253px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-183 {
  height: 2px;
  left: 374px;
  position: absolute;
  top: 258px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-184 {
  height: 1px;
  left: 379px;
  position: absolute;
  top: 263px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-185 {
  height: 1px;
  left: 385px;
  position: absolute;
  top: 180px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-186 {
  height: 1px;
  left: 380px;
  position: absolute;
  top: 184px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-187 {
  height: 2px;
  left: 376px;
  position: absolute;
  top: 189px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-188 {
  height: 2px;
  left: 372px;
  position: absolute;
  top: 193px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-189 {
  height: 3px;
  left: 367px;
  position: absolute;
  top: 198px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-190 {
  height: 3px;
  left: 363px;
  position: absolute;
  top: 203px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-191 {
  height: 3px;
  left: 359px;
  position: absolute;
  top: 208px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-192 {
  height: 3px;
  left: 355px;
  position: absolute;
  top: 212px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-193 {
  height: 4px;
  left: 351px;
  position: absolute;
  top: 217px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-194 {
  height: 4px;
  left: 347px;
  position: absolute;
  top: 222px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-195 {
  height: 4px;
  left: 343px;
  position: absolute;
  top: 227px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-196 {
  height: 4px;
  left: 345px;
  position: absolute;
  top: 232px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-197 {
  height: 4px;
  left: 349px;
  position: absolute;
  top: 237px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-198 {
  height: 3px;
  left: 353px;
  position: absolute;
  top: 242px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-199 {
  height: 3px;
  left: 357px;
  position: absolute;
  top: 246px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-200 {
  height: 3px;
  left: 362px;
  position: absolute;
  top: 251px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-201 {
  height: 3px;
  left: 366px;
  position: absolute;
  top: 257px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-202 {
  height: 2px;
  left: 370px;
  position: absolute;
  top: 262px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-203 {
  height: 2px;
  left: 374px;
  position: absolute;
  top: 267px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-204 {
  height: 1px;
  left: 379px;
  position: absolute;
  top: 272px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-205 {
  height: 1px;
  left: 383px;
  position: absolute;
  top: 277px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-206 {
  height: 1px;
  left: 388px;
  position: absolute;
  top: 167px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-207 {
  height: 1px;
  left: 383px;
  position: absolute;
  top: 172px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-208 {
  height: 1px;
  left: 379px;
  position: absolute;
  top: 176px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-209 {
  height: 2px;
  left: 374px;
  position: absolute;
  top: 181px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-210 {
  height: 2px;
  left: 370px;
  position: absolute;
  top: 186px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-211 {
  height: 3px;
  left: 366px;
  position: absolute;
  top: 191px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-212 {
  height: 3px;
  left: 361px;
  position: absolute;
  top: 196px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-213 {
  height: 3px;
  left: 357px;
  position: absolute;
  top: 201px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-214 {
  height: 4px;
  left: 353px;
  position: absolute;
  top: 206px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-215 {
  height: 4px;
  left: 348px;
  position: absolute;
  top: 211px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-216 {
  height: 4px;
  left: 344px;
  position: absolute;
  top: 216px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-217 {
  height: 4px;
  left: 340px;
  position: absolute;
  top: 221px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-218 {
  height: 4px;
  left: 336px;
  position: absolute;
  top: 226px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-219 {
  height: 4px;
  left: 337px;
  position: absolute;
  top: 231px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-220 {
  height: 4px;
  left: 341px;
  position: absolute;
  top: 236px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-221 {
  height: 4px;
  left: 345px;
  position: absolute;
  top: 241px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-222 {
  height: 4px;
  left: 349px;
  position: absolute;
  top: 246px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-223 {
  height: 3px;
  left: 354px;
  position: absolute;
  top: 251px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-224 {
  height: 3px;
  left: 358px;
  position: absolute;
  top: 256px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-225 {
  height: 3px;
  left: 362px;
  position: absolute;
  top: 262px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-226 {
  height: 3px;
  left: 367px;
  position: absolute;
  top: 267px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-227 {
  height: 2px;
  left: 371px;
  position: absolute;
  top: 272px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-228 {
  height: 2px;
  left: 375px;
  position: absolute;
  top: 277px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-229 {
  height: 1px;
  left: 380px;
  position: absolute;
  top: 283px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-230 {
  height: 1px;
  left: 384px;
  position: absolute;
  top: 288px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-231 {
  height: 1px;
  left: 391px;
  position: absolute;
  top: 154px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-232 {
  height: 1px;
  left: 386px;
  position: absolute;
  top: 159px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-233 {
  height: 1px;
  left: 382px;
  position: absolute;
  top: 164px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-234 {
  height: 2px;
  left: 377px;
  position: absolute;
  top: 169px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-235 {
  height: 2px;
  left: 372px;
  position: absolute;
  top: 174px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-236 {
  height: 3px;
  left: 368px;
  position: absolute;
  top: 179px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-237 {
  height: 3px;
  left: 363px;
  position: absolute;
  top: 184px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-238 {
  height: 3px;
  left: 359px;
  position: absolute;
  top: 189px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-239 {
  height: 3px;
  left: 355px;
  position: absolute;
  top: 194px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-240 {
  height: 4px;
  left: 350px;
  position: absolute;
  top: 199px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-241 {
  height: 4px;
  left: 346px;
  position: absolute;
  top: 205px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-242 {
  height: 4px;
  left: 341px;
  position: absolute;
  top: 210px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-243 {
  height: 4px;
  left: 337px;
  position: absolute;
  top: 215px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-244 {
  height: 4px;
  left: 332px;
  position: absolute;
  top: 220px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-245 {
  height: 4px;
  left: 328px;
  position: absolute;
  top: 225px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-246 {
  height: 4px;
  left: 329px;
  position: absolute;
  top: 231px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-247 {
  height: 4px;
  left: 333px;
  position: absolute;
  top: 236px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-248 {
  height: 4px;
  left: 337px;
  position: absolute;
  top: 241px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-249 {
  height: 4px;
  left: 342px;
  position: absolute;
  top: 246px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-250 {
  height: 4px;
  left: 346px;
  position: absolute;
  top: 252px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-251 {
  height: 4px;
  left: 351px;
  position: absolute;
  top: 257px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-252 {
  height: 3px;
  left: 355px;
  position: absolute;
  top: 262px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-253 {
  height: 3px;
  left: 360px;
  position: absolute;
  top: 268px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-254 {
  height: 3px;
  left: 364px;
  position: absolute;
  top: 273px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-255 {
  height: 3px;
  left: 369px;
  position: absolute;
  top: 279px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-256 {
  height: 2px;
  left: 373px;
  position: absolute;
  top: 284px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-257 {
  height: 2px;
  left: 378px;
  position: absolute;
  top: 289px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-258 {
  height: 1px;
  left: 382px;
  position: absolute;
  top: 295px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-259 {
  height: 1px;
  left: 387px;
  position: absolute;
  top: 300px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-260 {
  height: 1px;
  left: 389px;
  position: absolute;
  top: 146px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-261 {
  height: 1px;
  left: 384px;
  position: absolute;
  top: 151px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-262 {
  height: 2px;
  left: 380px;
  position: absolute;
  top: 157px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-263 {
  height: 2px;
  left: 375px;
  position: absolute;
  top: 162px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-264 {
  height: 3px;
  left: 370px;
  position: absolute;
  top: 167px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-265 {
  height: 3px;
  left: 366px;
  position: absolute;
  top: 172px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-266 {
  height: 3px;
  left: 361px;
  position: absolute;
  top: 177px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-267 {
  height: 3px;
  left: 356px;
  position: absolute;
  top: 183px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-268 {
  height: 4px;
  left: 352px;
  position: absolute;
  top: 188px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-269 {
  height: 4px;
  left: 347px;
  position: absolute;
  top: 193px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-270 {
  height: 4px;
  left: 343px;
  position: absolute;
  top: 199px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-271 {
  height: 4px;
  left: 338px;
  position: absolute;
  top: 204px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-272 {
  height: 4px;
  left: 333px;
  position: absolute;
  top: 210px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-273 {
  height: 4px;
  left: 329px;
  position: absolute;
  top: 215px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-274 {
  height: 4px;
  left: 324px;
  position: absolute;
  top: 220px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-275 {
  height: 4px;
  left: 320px;
  position: absolute;
  top: 226px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-276 {
  height: 4px;
  left: 321px;
  position: absolute;
  top: 231px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-277 {
  height: 4px;
  left: 326px;
  position: absolute;
  top: 237px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-278 {
  height: 4px;
  left: 331px;
  position: absolute;
  top: 242px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-279 {
  height: 4px;
  left: 335px;
  position: absolute;
  top: 247px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-280 {
  height: 4px;
  left: 340px;
  position: absolute;
  top: 253px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-281 {
  height: 4px;
  left: 344px;
  position: absolute;
  top: 258px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-282 {
  height: 4px;
  left: 349px;
  position: absolute;
  top: 264px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-283 {
  height: 4px;
  left: 353px;
  position: absolute;
  top: 269px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-284 {
  height: 3px;
  left: 358px;
  position: absolute;
  top: 275px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-285 {
  height: 3px;
  left: 363px;
  position: absolute;
  top: 281px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-286 {
  height: 3px;
  left: 367px;
  position: absolute;
  top: 286px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-287 {
  height: 2px;
  left: 372px;
  position: absolute;
  top: 292px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-288 {
  height: 2px;
  left: 377px;
  position: absolute;
  top: 297px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-289 {
  height: 2px;
  left: 381px;
  position: absolute;
  top: 303px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-290 {
  height: 1px;
  left: 386px;
  position: absolute;
  top: 309px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-291 {
  height: 1px;
  left: 391px;
  position: absolute;
  top: 314px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-14 {
  height: 2px;
  left: 392px;
  position: absolute;
  top: 133px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-292 {
  height: 1px;
  left: 387px;
  position: absolute;
  top: 139px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-293 {
  height: 2px;
  left: 382px;
  position: absolute;
  top: 144px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-294 {
  height: 2px;
  left: 377px;
  position: absolute;
  top: 150px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-295 {
  height: 2px;
  left: 373px;
  position: absolute;
  top: 155px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-296 {
  height: 3px;
  left: 368px;
  position: absolute;
  top: 160px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-297 {
  height: 3px;
  left: 363px;
  position: absolute;
  top: 166px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-298 {
  height: 3px;
  left: 358px;
  position: absolute;
  top: 171px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-299 {
  height: 4px;
  left: 353px;
  position: absolute;
  top: 177px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-300 {
  height: 4px;
  left: 349px;
  position: absolute;
  top: 182px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-301 {
  height: 4px;
  left: 344px;
  position: absolute;
  top: 188px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-302 {
  height: 4px;
  left: 339px;
  position: absolute;
  top: 193px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-303 {
  height: 4px;
  left: 335px;
  position: absolute;
  top: 199px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-304 {
  height: 4px;
  left: 330px;
  position: absolute;
  top: 205px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-305 {
  height: 4px;
  left: 325px;
  position: absolute;
  top: 210px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-306 {
  height: 4px;
  left: 320px;
  position: absolute;
  top: 216px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-307 {
  height: 5px;
  left: 316px;
  position: absolute;
  top: 221px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-15 {
  height: 6px;
  left: 311px;
  position: absolute;
  top: 226px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-308 {
  height: 5px;
  left: 315px;
  position: absolute;
  top: 232px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-309 {
  height: 4px;
  left: 320px;
  position: absolute;
  top: 238px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-310 {
  height: 4px;
  left: 324px;
  position: absolute;
  top: 244px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-311 {
  height: 4px;
  left: 329px;
  position: absolute;
  top: 249px;
  width: 4px;
}

.u1079u1072u1087u1091u1089u1082 .vector-312 {
  height: 4px;
  left: 334px;
  position: absolute;
  top: 255px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-313 {
  height: 4px;
  left: 338px;
  position: absolute;
  top: 261px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-314 {
  height: 4px;
  left: 343px;
  position: absolute;
  top: 266px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-315 {
  height: 4px;
  left: 348px;
  position: absolute;
  top: 272px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-316 {
  height: 4px;
  left: 353px;
  position: absolute;
  top: 278px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-317 {
  height: 3px;
  left: 357px;
  position: absolute;
  top: 283px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-318 {
  height: 3px;
  left: 362px;
  position: absolute;
  top: 289px;
  width: 3px;
}

.u1079u1072u1087u1091u1089u1082 .vector-319 {
  height: 3px;
  left: 367px;
  position: absolute;
  top: 295px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-320 {
  height: 3px;
  left: 372px;
  position: absolute;
  top: 301px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-321 {
  height: 2px;
  left: 377px;
  position: absolute;
  top: 306px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-322 {
  height: 2px;
  left: 381px;
  position: absolute;
  top: 312px;
  width: 2px;
}

.u1079u1072u1087u1091u1089u1082 .vector-323 {
  height: 1px;
  left: 386px;
  position: absolute;
  top: 318px;
  width: 1px;
}

.u1079u1072u1087u1091u1089u1082 .vector-324 {
  height: 1px;
  left: 391px;
  position: absolute;
  top: 324px;
  width: 1px;
}


.u1079u1072u1087u1091u1089u1082 .clip-path-group-16 {
  height: 53px;
  left: 126px;
  position: absolute;
  top: 300px;
  width: 150px;
}

.u1079u1072u1087u1091u1089u1082 .clip-path-group-17 {
  height: 55px;
  left: 125px;
  position: absolute;
  top: 300px;
  width: 155px;
}

.u1079u1072u1087u1091u1089u1082 .text_label {
  color: #ffffff;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 383px;
  width: 312px;
}

.u1079u1072u1087u1091u1089u1082 .x1177460-1 {
  height: 35px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 614px;
  width: 35px;
}

.u1079u1072u1087u1091u1089u1082 .x3955024-1 {
  height: 35px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 614px;
  width: 35px;
}

.u1079u1072u1087u1091u1089u1082 .x3670147-1 {
  height: 35px;
  left: 276px;
  object-fit: cover;
  position: absolute;
  top: 613px;
  width: 35px;
}

.u1079u1072u1087u1091u1089u1082 .x2111646-1 {
  height: 35px;
  left: 328px;
  object-fit: cover;
  position: absolute;
  top: 613px;
  width: 35px;
}
