{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
{% endblock %}

{% block content %}
<div class="container-center-horizontal">
    <div class="addorderconfirm">
        <a href="{% url 'accounts:add-order' %}">
            <div class="back-iconaoc"><img src="{% static '/img/back.png' %}" alt="Back" />;</div>
        </a>
        <div class="messageaoc">Вы успешно отправили запрос на поиск детали.</div>
        <div class="package-iconaoc"><img src="{% static '/img/business_package.png' %}" alt="Parking" />;</div>
        <a href="{% url 'accounts:dashboard' %}">
            <div class="buttonaoc">
                <span class="button-textaoc">Назад в меню</span>
            </div>
        </a>
  </div>
</div>  
{% endblock %}
