{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-center-horizontal" style="background: #000000">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <img class="img-fluid" src="{% static 'img/tuning_top.png' %}" alt="tuning" />
            </div>
            <div class="col-12 text-center mt-3">
                <img class="img-fluid" src="{% static 'img/tuning1.svg' %}" alt="tuning" />
            </div>
            <div class="col-12 text-center text-white mt-3">
                <div class="tuning2">Посмотри какой может быть тюнинг</div>
            </div>
            <div class="col-12 text-center mt-3">
                <img class="img-fluid" src="{% static 'img/tuning3.png' %}" alt="tuning" />
            </div>
            <div class="col-12 text-center mt-3">
                <a href="{% url 'accounts:dashboard' %}">
                    <img class="img-fluid" src="{% static 'img/tuning4.png' %}" alt="tuning" />
                    <span class="tuning-text">Внешний тюнинг</span>
                </a>
            </div>
            <div class="col-12 text-center mt-3">
                <a href="{% url 'accounts:dashboard' %}">
                    <img class="img-fluid" src="{% static 'img/tuning5.png' %}" alt="tuning" />
                    <span class="tuning-text">Детейлинг автомобиля</span>
                </a>
            </div>
            <div class="col-12 text-center mt-3">
                <a href="{% url 'accounts:dashboard' %}">
                    <img class="img-fluid" src="{% static 'img/tuning6.png' %}" alt="tuning" />
                    <span class="tuning-text">Электронный тюнинг</span>
                </a>
            </div>
        </div>
    </div> 
</div>

{% endblock content %}